.advantages {
  text-align: center;
  &__title {
    margin-top: 70px;
  }
  &__text {
    margin: 0 auto 20px;
    max-width: 307px;
  }
  &__image {
    margin: 0 auto;
    max-width: 894px;
    min-height: 310px;
  }
  &__img1 {
    background: url(../images/img/mouse_image_1.jpg) left / cover no-repeat;
  }
  &__img2 {
    background: url(../images/img/mouse_image_2.jpg) center / cover no-repeat;
  }
}