.info {
  padding-top: 70px;
  padding-bottom: 27px;
  &__descr {
    margin: 20px auto 30px auto;
    width: 247px;
  }
  &__cards {
    width: 338px;
    display: grid;
    grid-template-columns: 166px 166px;
    column-gap: 6px;
    margin: 0 auto;
    padding-bottom: 27px;
  }
  &__card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        max-width: 166px;
        min-height: 94px;
        border: 1px solid #2F3132;
  }
  &__carddescr {
    margin-top: 5px;
  }
  &__surfdescr {
    width: 308px;
    margin: 0 auto;
  }
}