
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 810px;
  & > .title {
    margin-top: 70px;
    margin-bottom: 20px;
  }
  & p.description {
    margin-bottom: 30px;
    max-width: 247px;
  }
  &__features {
    display: flex;
    justify-content: space-between;
    padding: 0 19px 28px;
  }
  &__features_item {
    flex-basis: 166px;
    min-height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #2f3132;
  }
  &__features_item .title {
    margin-bottom: 5px;
  }
  &__features_item p.description {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  &__features_item:first-child {
    margin-right: 6px;
  }
  & .slider__wrapper + p.description {
    margin-top: 20px;
    margin-bottom: 64px;
  }
  & .slider__wrapper {
    width: 100%;
  }
  &__slider {
    width: 100%;
    padding-bottom: 50px;
  }
  &__slider p.description {
    margin: 2rem auto 0;
    font-weight: 900;
  }
  &__slider .carousel-indicators {
    justify-content: space-between;
    margin-bottom: 0;
  }
  &__slider .carousel-indicators button {
    min-width: 2.2rem;
    min-height: 2.2rem;
    border-radius: 50%;
    background-color: #2f3132;
  }
  &__slider .info__slider_button {
    opacity: 1;
    border: 3px solid #fff;
    transition: border-color 0.3s;
  }
  &__slider .info__slider_button.active {
    border-color: #2f3132;
  }
  &__slider button[aria-label="Slide 1"] {
    background: url(../images/img/set2/wood-texture.jpg);
  }
  &__slider button[aria-label="Slide 2"] {
    background: url(../images/img/set2/glass-texture.jpg);
  }
  &__slider button[aria-label="Slide 3"] {
    background: url(../images/img/set2/linoleum-texture.jpg);
  }
  &__slider button[aria-label="Slide 4"] {
    background: url(../images/img/set2/cloth-texture.jpg);
  }
  &__slider button[aria-label="Slide 5"] {
    background: url(../images/img/set2/marble-texture.jpg);
  }
  &__slider .carousel-control-prev {
    top: auto;
  }
  &__slider .carousel-control-next{
    top: auto;
  }
  &__slider .carousel-control-prev-icon {
    background: url(../images/icons/arrow-left.svg) center no-repeat;
  }
  &__slider .carousel-control-next-icon {
    background: url(../images/icons/arrow-right.svg) center no-repeat;
  }
  &__slider_img-desktop {
    display: none;
  }

}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 30px;
  height: 30px;
}

.slider_control_group {
  position: relative;
}

