.settings {
  background-color: #ededed;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  &__slider {
    margin: 35px auto 98px;
    flex-basis: 375px;
    max-width: 497px;
    height: 405px;
  }
  &__image-desktop {
    display: none;
  }
  &__slider .carousel-item {
    width: 100%;
    min-height: 405px;
  }
  &__slider .slide-1 {
    background-image: url(../images/img/set1/func_sl_1-NEW.png);
  }
  &__slider .slide-2 {
    background-image: url(../images/img/set1/func_sl_2-NEW.png);
  }
  &__slider .slide-3 {
    background-image: url(../images/img/set1/func_sl_3-NEW.png);
  }
  &__slider .slide-4 {
    background-image: url(../images/img/set1/func_sl_4-NEW.png);
  }
  &__slider .slide-5 {
    background-image: url(../images/img/set1/func_sl_5-NEW.png);
  }
  &__slider .slide-6 {
    background-image: url(../images/img/set1/func_sl_6-NEW.png);
  }
  &__slide {
    max-width: 330px;
    min-height: 405px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  &__slider .carousel-indicators {
    bottom: -70px;
  }
  &__slider .carousel-indicators button {
    background-color: #2f3132;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  &__apps {
    background-color: #c4c4c4;
    padding-top: 23px;
    color: #fff;
  }
}

.settings .description {
  margin: 0 33px 0;
}
.apps__icons {
  display: flex;
  justify-content: space-between;
  margin: 0 22px 20px 29px;
}

.apps__text.description {
  margin: 0 35px 26px;
}
