.title {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
  text-transform: uppercase;
  &__bluetooth {
    font-size: 60px;
    line-height: 70px;
    color: #C4C4C4;
  }
  &__infosurf {
    font-size: 14px;
    line-height: 16px;
    color: #2F3132;
    margin-top: 27px;
    margin-bottom: 70px;
      }
}