
.title {
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;
  margin-bottom: 20px;
}

.days {
  font-weight: 900;
  font-size: 4.3rem;
  line-height: 5rem;
  text-align: center;
  text-transform: uppercase;
  color: #c4c4c4;
  margin-bottom: 0;
}