.top {
  background: #E0E1E2;
  padding-top: 25px;
  padding-bottom: 48px;
  &__header {
    margin-bottom: 94px;
  }
  &__img {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 41px;
  }
  &__arrow {
    margin-top: 40px;
  }
  &__descr {
    width: 257px;
    margin: 0 auto;
  }
  &__arrowimg {
    width: 42px;
    height: 22px;
  }
}