.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &__section_inner {
    background-color: #e0e1e2;
    padding: 0 0 3.4rem;
  }
  &__header {
    padding-top: 25px;
    margin-bottom: 90px;
  }
  &__arrow-link {
    width: 40px;
    height: 20px;
  }
  & h2 {
    margin-bottom: -1.7rem;
  }
  &__image {
    width: 100%;
    height: auto;
    margin-bottom: 4.8rem;
  }
  &__image.top__image-desktop {
    display: none;
  }
  &__section .description {
    margin-right: 59px;
    margin-left: 59px;
  }
}

.logo {
  max-width: 130px;
}

.logo_desktop {
  display: none;
}
